node_modules
package-lock.json

.env
.env.test
.idea
.vscode
.DS_Store

export
media
var
static

*.bak
*.dis

static/google-shopping-feed.xml
files
coverage/
tmp/
profiles/
error/
screen/
update_flag.json
vm_log.json